@import '~node_modules/modern-normalize/modern-normalize.css';

:root {
  --accent-color: rgb(24, 18, 43);
  --accent-color-opaque: rgba(24, 18, 43, 0.2);
  --accent-color-hover: rgb(57, 48, 83);
  --primary-color: rgb(68, 60, 104);
  --primary-color-opaque: rgba(68, 60, 104, 0.9);
  --primary-color-hover: rgb(99, 89, 133);
  --primary-text-color: rgb(255, 255, 255);
}

img {
  max-width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}

ul {
  list-style: none;
}

.accent-button-style {
  padding: 5px;
  border-radius: 50px;
  cursor: pointer;
}

.no-display {
  display: none;
}

.load-more {
  position: absolute;
  bottom: 0;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  @extend .accent-button-style;
  background-color: var(--accent-color);
  color: var(--primary-text-color);
}

#myBtn {
  display: none;
  position: fixed;
  top: 20px;
  right: 50%;
  transform: translateX(50%);
  z-index: 99;
  font-size: 18px;
  border-style: hidden;
  outline: none;
  background-color: var(--accent-color);
  color: white;
  @extend .accent-button-style;
}


.loading {
  opacity: 0;
  display: flex;
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity .3s ease-in;
}

.loading.show {
  opacity: 1;
}

.ball {
  background-color: #777;
  border-radius: 50%;
  margin: 5px;
  height: 10px;
  width: 10px;
  animation: jump .5s ease-in infinite;
}

.ball:nth-of-type(2) {
  animation-delay: 0.1s;
}

.ball:nth-of-type(3) {
  animation-delay: 0.2s;
}

@keyframes jump {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}