.form-details__container {
  width: 255px;
  margin: 0 auto;
  border-style: solid;
  border-radius: 25px;
    position: relative;
        background-color: var(--accent-color);

  .search-form {
    width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: var(--accent-color);
    border-style: hidden;
    border-radius: 50px;

  }

  // style input placeholder text

  input::placeholder {
    color: var(--primary-text-color);
  }

  input {
    border-style: hidden;
    border-radius: 50px;
    outline: none;
    background-color: var(--accent-color);
    padding-left: 10px;
    color: var(--primary-text-color);
  }

  .search {
    border-style: hidden;
    border-radius: 50px;
    font-size: large;
    padding: 10px;
    background-color: var(--accent-color-hover);
    color: var(--primary-text-color);
  }

  
}