.is-hidden {
  display: none;
}

.is-visible {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 250px;
  border-radius: 5px;
  border-top: none;
  padding: 10px;
  z-index: 1;
  position: absolute;
  background-color: var(--primary-color-opaque);




  .search-history__list {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: default;
  }

  .search-history__item {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
  }

  .search-item__text {
    margin-bottom: 0;
    cursor: pointer;
    color: var(--primary-text-color);
  }

  .item-delete__btn {
    border-style: hidden;
    border-radius: 100px;
  }

  .clear-history__btn {
    padding: 5px;
    flex-shrink: 0;
    border-radius: 50px;
    cursor: pointer;
  }
}