@import '~node_modules/modern-normalize/modern-normalize.css';

$transition-time: 2000ms;
$transition-time-function: cubic-bezier(0.4, 0, 0.2, 1);
$uppercase: text-transform uppercase;

$colors: (
  'light-background-color': rgb(238, 233, 218),
  'dark-background-color': rgb(0, 0, 0),
  'dark-primary-color': rgb(96, 150, 180),
  'primary-color': rgb(147, 191, 207),
  'primary-accent-color': rgb(189, 205, 214),
  'primary-accent-color-opaque': rgba(189, 205, 214, 0.6),
  'ternary-color': rgb(238, 233, 218),
  'secondary-btn-color': rgba(124, 171, 197, 0.6),
  'secondary-text-color': rgb(190, 190, 190),
  'accent-text-color': rgba(255, 255, 255, 0.746),
  'primary-text-color': rgb(0, 0, 0),
  'tertiary-text-color': rgb(117, 117, 117),
  'white-color': rgb(255, 255, 255),
  'dark-theme-secondary-text-color': rgb(235, 235, 235),
  'dark-theme-primary-color': rgb(109, 163, 183),
  'dark-theme-primary-accent-color': rgb(148, 171, 184),
  'dark-theme-primary-accent-color-opaque': rgba(141, 163, 175, 0.6),
  'dark-theme-ternary-color': rgb(198, 191, 170),
  'dark-theme-secondary-btn-color': rgb(66, 106, 128),
);

$font-family: (
  'primary-font': 'Montserrat',
  'secondary-font': 'Nunito',
  'logo-font': 'MuesoModerno',
);

$font-sizes: (
  'small-font': 12px,
  'medium-font': 14px,
  'large-font': 16px,
  'x-large-font': 18px,
  'xx-large-font': 20px,
  'xxx-large-font': 22px,
  'xxxx-large-font': 32px,
);

$font-weights: (
  'thin-font': 100,
  'light-font': 300,
  'regular-font': 400,
  'medium-font': 600,
  'bold-font': 700,
);

@function getColor($key) {
  @return map-get($colors, $key);
}

@function getFontFamily($key) {
  @return map-get($font-family, $key);
}

@function getFontSize($key) {
  @return map-get($font-sizes, $key);
}

@function getFontWeight($key) {
  @return map-get($font-weights, $key);
}