<div class="form-details__section container-fluid">
  <div class="form-details__container">
    <form class="search-form" id="search-form">
      <input type="text" name="searchQuery" autocomplete="off" placeholder="Search images..." />
      <button type="submit" class="submit-btn fa-solid fa-magnifying-glass"></button>
    </form>
    <div class="search-history__container is-hidden ">
      <ul class="search-history__list">
        <!-- Search History Items -->
      </ul> 
      <button class="clear-history__btn" type="button">Clear Search History</button>
    </div>
  </div>
</div>
