<div class="form-details__container">
  <form class="search-form" id="search-form">
    <input type="text" name="searchQuery" autocomplete="off" placeholder="Search images..." />
    <button type="submit" class="search fa-solid fa-magnifying-glass"></button>
  </form>
  <div class="search-history__container is-hidden container-sm">
    <ul class="search-history__list">
      <!-- Search History Items -->
    </ul>
    <button class="clear-history__btn" type="button">Clear Input History</button>
  </div>
</div>


