<header class="header__container">
        <!-- <div class="logo-container">
          
        </div>
        <div class="dropdown menu" data-bs-theme="dark">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonDark" data-bs-toggle="dropdown"
            aria-expanded="false">
            Menu
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonDark">
            <li><a class="dropdown-item active-item" href="./index.html">Home</a></li>
            <li><a class="dropdown-item" href="#">About</a></li>
            <li><a class="dropdown-item" href="https://github.com/gogonzogo/goit-js-hw-10" target="_blank">GitHub Repo</a></li>
            <li><a class="dropdown-item" href="https://linkedin.com/in/jose-gonzales" target="_blank">Connect on LinkedIn</a>
            </li>
          </ul>
        </div>
        <div class="dropdown resources" data-bs-theme="dark">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButtonDark" data-bs-toggle="dropdown"
            aria-expanded="false">
            Development Recources
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonDark">
            <li><a class="dropdown-item" href="https://github.com/goitacademy/parcel-project-template" target="_blank">GoIT
                Parcel Repo</a></li>
            <li><a class="dropdown-item" href="https://restcountries.com/" target="_blank">Countries Rest API</a></li>
            <li><a class="dropdown-item" href="https://www.mapbox.com/" target="_blank">mapbox</a></li>
            <li><a class="dropdown-item" href="https://getbootstrap.com/" target="_blank">Bootstrap</a></li>
            <li><a class="dropdown-item" href="https://notiflix.github.io/" target="_blank">Notiflix</a></li>
            <li><a class="dropdown-item" href="https://fontawesome.com/" target="_blank">Font Awesome</a></li>
            <li><a class="dropdown-item" href="https://www.javascript.com/" target="_blank">JS</a></li>
            <li><a class="dropdown-item" href="https://html.com/" target="_blank">HTML</a></li>
            <li><a class="dropdown-item" href="https://www.w3schools.com/Css/" target="_blank">CSS</a></li>
            <li><a class="dropdown-item" href="https://goit.global/us/" target="_blank">GoIT</a></li>
          </ul>
        </div>
        <div class="info-btn__container">
          <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
            aria-expanded="false" aria-controls="collapseExample">
            <i class="fas fa-info-circle"></i>
          </button>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <p><b>Overview: </b>This is a simple country lookup app that uses the REST Countries API to display information
                about
                a country.<br />
                It also uses the Mapbox API to display a map of the country.</p>
              <p><b>Step 1: </b>Enter a country name in the search box. <br />
                NOTE: As a list of countries populates you can, finish typing or click on the country from the list to display
                the
                country's
                information and find it on the map.</p>
              <p><b>Step 2: </b>Click on the plane icon to "fly" to the country for a closer look.</p>
              <p>NOTE: The map also supports click to drag and scroll to zoom.</p>
              <p>Happy exploring!</p>
            </div>
          </div>
        </div> -->
</header>