@use '../utilities/variables';

.gallery {
  width: fit-content;
  margin-top: 35px;
  overflow: hidden;

  .gallery__image-card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;
  }

  .image-card {
    width: 120px;
    margin-top: 5px;
    border: 2px solid getColor('primary-accent-color');
    border-radius: 0 0 15px 15px;
    background-color: getColor('primary-accent-color');
    padding-bottom: 3px;
    transition: all 1s ease-in-out;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(+100%);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }

  .info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
    margin-top: 3px;
  }

  .info-item {
    font-family: getFontFamily('secondary-font');
    font-size: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 480px) {
  .gallery {

    .image-card {
      width: 200px;
    }

    .info-item {
      font-size: 9px;
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    margin-top: 40px;

    .image-card {
      width: 250px;
    }

    .info-item {
      font-size: getFontSize('small-font');
    }
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    margin-top: 50px;

    .gallery__image-card-container {
      gap: 20px;
    }
  }
}