@use '../utilities/variables';

.accent-button-style {
  padding: 5px 15px;
  border-radius: 15px;
  cursor: pointer;
  background-color: get-color('accent-color');
  color: get-color('primary-text-color');
  font-weight: bolder;

  &:hover,
  &:focus {
    background-color: get-color('accent-color-hover');
    transition: background-color $transition-time $transition-time-function;
  }
}

.menu-toggle {
  background: none;
  fill: getColor('primary-text-color');
  transition: fill $transition-time $transition-time-function;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: getColor('primary-text-color');
  transition: color variables.$transition-time variables.$transition-time-function;
}

.mode-switch__btn {
  transform: rotate(180deg);
  background: none;
  width: 24px;
  height: 24px;
  fill: getColor('primary-text-color');
  transition: all $transition-time $transition-time-function;
  position: fixed;
  bottom: 30px;
  left: 4px;
}

.back-to-top__btn {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  width: fit-content;
  margin: 0 auto;
  z-index: 999;
  background-color: getColor('primary-accent-color');
  color: getColor('primary-text-color');
  padding: 5px;
  border-radius: 50px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  font-family: getFontFamily('primary-font');
  font-size: getFontSize('medium-font');
  font-weight: getFontWeight('bold-font');
  transition: background-color $transition-time $transition-time-function,
    color $transition-time $transition-time-function,
    transform 500ms;

  &:hover,
  &:focus {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  }
}

.submit-btn {
  background-color: getColor('secondary-btn-color');
  border: 1px solid getColor('secondary-btn-color');
  border-radius: 100px;
  padding: 2px;
  transition: background-color $transition-time $transition-time-function,
    border-color $transition-time $transition-time-function,
    transform 500ms;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.item-delete__btn {
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.clear-history__btn {
  background-color: getColor('secondary-btn-color');
  border: 1px solid getColor('secondary-btn-color');
  padding: 3px;
  border-radius: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-family: getFontFamily('primary-font');
  font-size: getFontSize('small-font');
  margin-bottom: 5px;
  width: fit-content;
  transition: background-color $transition-time $transition-time-function,
    border-color $transition-time $transition-time-function, transform 500ms;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

@media screen and (min-width: 480px) {

  .clear-history__btn {
    font-size: getFontSize('medium-font');
  }

  .back-to-top__btn {
    padding: 8px;
    font-size: getFontSize('large-font');
  }
}

@media screen and (min-width: 768px) {
  .mode-switch__btn {
    width: 35px;
    height: 35px;
  }

  .submit-btn {
    padding: 5px;
  }

  .back-to-top__btn {
    padding: 9px;
    font-size: getFontSize('x-large-font');
  }
}

@media screen and (min-width: 1200px) {

  .submit-btn {
    padding: 10px;
  }

  .clear-history__btn {
    padding: 8px;
    font-size: getFontSize('x-large-font');
  }

  .back-to-top__btn {
    padding: 10px;
    font-size: getFontSize('xx-large-font');
  }
}