@use '../utilities/variables';

.form-details__section {
  display: flex;
  flex-direction: column;
  align-items: center;

  .form-details__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    border-radius: 20px;
    background-color: getColor('primary-accent-color-opaque');
    position: absolute; //WHY IS THIS CAUSING SIMPLELIGHTBOX TO NOT WORK INITAILLY?
    z-index: 2;
    transition: background-color $transition-time $transition-time-function;

    .search-form {
      border-radius: 30px;
      padding-left: 10px;
      background-color: getColor('primary-accent-color');
      transition: background-color $transition-time $transition-time-function;
      box-shadow: 0 4px 6px -6px #222;
    }

    input {
      border: none;
      outline: none;
      background-color: getColor('primary-accent-color');
      width: 100px;
      transition: background-color $transition-time $transition-time-function;
    }

    input::placeholder {
      font-family: getFontFamily('primary-font');
      font-size: getFontSize('small-font');
    }
  }

  .is-hidden {
    display: none;
  }

  .is-visible {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border-top: none;
    margin-top: 5px;

    .search-history__list {
      padding-left: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      cursor: default;
      width: 100%;
    }

    .search-history__item {
      margin-bottom: 5px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      font-size: getFontSize('small-font');
    }

    .search-item__text {
      margin-bottom: 0;
      cursor: pointer;

      &:hover,
      &:focus {
        transform: scale(1.1);
      }
    }
  }
}

@media screen and (min-width: 480px) {
  .form-details__section {
    .form-details__container {
      input {
        width: auto;
      }

      input::placeholder {
        font-size: getFontSize('medium-font');
      }
    }

    .is-visible {
      width: 150px;
    }

    .search-history__item {
      font-size: getFontSize('medium-font');
    }
  }
}

@media screen and (min-width: 768px) {
  .form-details__section {
    .form-details__container {
      input {
        width: auto;
      }

      input::placeholder {
        font-size: getFontSize('large-font');
      }
    }

    .is-visible {
      width: 150px;
      font-size: getFontSize('large-font');

      .search-history__item {
        font-size: getFontSize('large-font');
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .form-details__section {
    .form-details__container {

      input {
        width: 250px;
      }

      input::placeholder {
        font-size: getFontSize('x-large-font');
      }
    }

    .is-visible {
      width: 200px;
      font-size: getFontSize('x-large-font');

      .search-history__item {
        font-size: getFontSize('x-large-font');
      }
    }


  }
}