@use '../utilities/variables';

.gallery {
  width: fit-content;
  margin-top: 35px;

  .gallery__photo-card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5px;
  }

  .photo-card {
    width: 120px;
    margin-top: 5px;
    border: 2px solid getColor('primary-accent-color');
    border-radius: 0 0 15px 15px;
    background-color: getColor('primary-accent-color');
    padding-bottom: 3px;
    transition: background-color $transition-time $transition-time-function,
      border-color $transition-time $transition-time-function;

    &:hover,
    &:focus {
      transform: scale(1.1);
    }
  }

  .info {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
    margin-top: 3px;
  }

  .info-item {
    font-family: getFontFamily('secondary-font');
    font-size: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 480px) {
  .gallery {

    .photo-card {
      width: 200px;
    }

    .info-item {
      font-size: 9px;
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    margin-top: 40px;

    .photo-card {
      width: 250px;
    }

    .info-item {
      font-size: getFontSize('small-font');
    }
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    margin-top: 50px;

    .gallery__photo-card-container {
      gap: 20px;
    }
  }
}