.header__social-container {
  display: none;


}

@media screen and (min-width: 768px) {
  .header__social-container {
    display: flex;
  }

  .header__social-list {
    display: flex;
    gap: 40px;
    margin-bottom: 0;

    .social-icon {
      width: 25px;
      height: 25px;
      fill: currentColor;
      transition: fill $transition-time $transition-time-function;
    }
  }
}

@media screen and (min-width: 1200px) {
  .header__social-container {
    display: flex;
  }

  .header__social-list {
    display: flex;
    gap: 60px;
    margin-bottom: 0;

    .social-icon {
      display: flex;
      fill: getColor('primary-text-color');
      transition: fill $transition-time $transition-time-function;
      width: 35px;
      height: 35px;
    }
  }
}