@use '../utilities/variables';

.light-dark-theme__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  z-index: 1000;
  top: 4px;

  .light-dark-theme-btn__title {
    position: fixed;
    left: 8px;
    bottom: -2px;
    transform: rotate(270deg);
    transform-origin: 0 0;
    font-family: getFontFamily('primary-font');
    font-size: getFontSize('small-font');
  }

  .mode-icon__container {
    --rotation: 0;
    position: absolute;
    height: 100vmin;
    pointer-events: none;
    transform: rotate(calc(var(--rotation)*1deg));
    transition: transform $transition-time $transition-time-function;
    display: flex;
    justify-content: center;
  }

  .mode-icons {
    position: absolute;
    transition: opacity $transition-time $transition-time-function,
      fill $transition-time $transition-time-function;
    width: 23px;
    height: 23px;
    fill: getColor('primary-text-color');
  }

  .light-mode__icon {
    top: 0;
    opacity: 1;
  }

  .dark-mode__icon {
    bottom: 0;
    opacity: 0;
    transform: rotate(180deg);
  }
}



@media screen and (min-width: 768px) {

  .light-dark-theme__container {

    .mode-icons {
      width: 35px;
      height: 35px;
    }

    .light-dark-theme-btn__title {
      left: 11px;
      bottom: 5px;
      font-size: getFontSize('large-font');
    }
  }
}